body {
  background-color: #e3fdfd;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 7px;
  width: 3%;
}

img {
  height: 200px;
  width: 200px;
}

h1 , h3 {
  color: #66BFBF
}
